<form>
  <div class="form-group mt-2">
    <label for="exampleFormControlInput1">Título</label>
    <input type="title" class="form-control" id="title" placeholder="">
  </div>
  <div class="form-group mt-2">
    <label for="priority">Example select</label>
    <select class="form-control" id="priority">
      <option>Low</option>
      <option>Medium</option>
      <option>High</option>
    </select>
  </div>
  <div class="form-group mt-2">
    <label for="date" class="col-form-label">Data</label>
    <input class="form-control" type="date" value="2021-05-24" id="date">
  </div>
  <div class="form-group mt-2">
    <label for="note">Anotações</label>
    <textarea class="form-control" id="note" rows="15"></textarea>
  </div>
</form>