<div class="container">
  <div class="row" id="indexNotesTable">
  </div>
</div>

<script>
  $(document).ready(function() {
    currentUserId = "<%= current_user.id %>";
    doNotesHtml(currentUserId);
  });
</script>