<footer class="footer text-center text-lg-start bg-purple">
  <div class="text-center p-3 text-white">
    © 2021 Copyright:
    <a class="text-white" href="http://talentbrand.com.br">Talentbrand</a>
  </div>
</footer>